.container {
	display: flex;
	align-items: center;
	align-items: 100px;
}

.imgContainer {
	position: relative;
	flex: 1;
	height: 500px;
}

.img {
	object-fit: contain;
}

.formContainer {
	flex: 1;
	background-color: var(--bgSoft);
	padding: 1rem;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		margin-top: 100px;
		overflow: hidden;
		overflow-y: scroll;
	}
}
