.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.avatar {
	object-fit: cover;
	border-radius: 50%;
}

.author {
	color: #808080;
	font-weight: bold;
}

.userName {
	font-weight: 500;
}
